/**
*
* spacing.css
* @author - Ibrahim
* @date - 14/02/2024
**/

.p-20 {
    padding: 20px 42px 20px 42px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-6 {
    margin-right: 6px;
}

.mt-16 {
    margin-top: 16px;
}

.mr-50 {
    margin-right: 50px;
}

.p-18 {
    padding: 18px 42px 18px 42px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-70 {
    margin-left: 50px;
}

.m-20 {
    margin: 20px;
}

.ml-20 {
    margin-left: 16px;
}

.ml-90 {
    margin-left: 90px;
}

.mt-40 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-100 {
    margin-left: 120px;
}

.ml-120 {
    margin-left: 140px;
}

.ml-140 {
    margin-left: 124px;
}

.ml-150 {
    margin-left: 150px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 60px;
}

.p-15 {
    padding: 15px 30px 15px 10px;
}

.mr-200 {
    margin-right: 330px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-23 {
   margin-top: 23px; 
}

.mr-15 {
    margin-right: 15px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-70 {
    margin-right: 140px;
}

.ml-40 {
    margin-left: 40px;
}
